body {
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.category-item {
    padding: 72px;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    padding: 48px;
    text-align: center;
}

.link-item:hover {
    animation: vibrate .3s linear infinite both;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

a {
    color: #24FF33;
    font-size: 28px;
}

a:visited {
    color: #24FF33;
    font-size: 28px;
}

.footer {
    border-top: 4px solid #24FF33;
}