body {
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

a {
    color: #24FF33;
    font-size: 28px;
}

a:visited {
    color: #24FF33;
    font-size: 28px;
}

footer {
    border-top: 4px solid #24FF33;
    padding-top: 50px;
    background-color: #111111
}


/* -------------------------------------------------------------------------------------------- */

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background-color: #333333
}

.category-item {
    padding: 72px;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    --color: #222;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.link-item>img {
    width: 64px;
    height: 64px;
}

.card {
    --background: linear-gradient(to right, #24FF33 0%, #a0ff24 100%);
    width: 128px;
    height: 128px;
    padding: 12px;
    border-radius: 1rem;
    overflow: visible;
    background: #24FF33;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #24FF33;
    background: var(--background);
    transition: opacity .5s;
}


/*Hover*/

.card:hover::after {
    opacity: 0;
}

.card:hover {
    color: #24FF33;
    transition: color 1s;
}


/* -------------------------------------------------------------------------------------------- */

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tech-skill,
#language {
    padding: 50px;
    text-align: center;
}