body {
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    font-size: 144;
    font-family: Montserrat, sans-serif;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 240px;
}

.category-item {
    padding: 72px;
    font-size: 24px;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    padding: 48px;
    text-align: center;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    color: #24FF33;
    font-size: 18px;
}

a:visited {
    color: #24FF33;
    font-size: 18px;
}